.btn-schedule {
  background: var(--content-brand);
  text-transform: uppercase;
  font: var(--label-lg);
  border: none;
  border-radius: 12px;
  padding: 0.875rem 1.5rem;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.btn-schedule:hover {
  background: var(--bg-highlights);
}

main {
  max-width: 54.375rem;
  margin-inline: auto;
  padding: 5rem 4rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .mundo-pet {
    background: #2e2c30;
    color: var(--content-brand);
    display: flex;
    gap: 0.25rem;
    padding: 0.875rem 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 1rem;
    z-index: 100;

    p {
      text-transform: uppercase;
      font-family: "Familjen Grotesk", sans-serif;
      font-weight: bold;
    }
  }

  .btn-schedule {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  header {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;

    p {
      font: var(--text-md);
      color: var(--content-secondary);
    }

    .input-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .arrow-down {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }
  }

  .schedules-container {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }

  .schedule {
    background: var(--bg-tertiary);
    border-radius: 0.6rem;

    .schedule-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: var(--label-lg);
      padding: 0.875rem 1.25rem;

      border-bottom: 1px solid var(--border-primary);

      & > div {
        display: flex;
        align-items: center;
        gap: 0.875rem;
      }

      .schedule-header-time {
        color: var(--content-secondary);
      }
    }

    .schedule-list {
      padding: 2rem;
      font: var(--text-sm);

      li {
        display: grid;
        grid-template-columns: 80px 1fr 1fr 1fr;
        align-items: center;
        color: var(--content-secondary);
        padding: 1rem 0.875rem;
        border-bottom: 1px solid var(--border-primary);

        &:last-child {
          border-bottom: none;
        }

        .list-time {
          font: var(--text-md);
          font-weight: bold;
          color: var(--content-primary);
        }

        .list-petname {
          color: var(--content-primary);
        }

        .list-type {
          text-align: center;
        }

        .list-remove {
          color: var(--content-tertiary);
        }
      }
    }
  }
}

@media (max-width: 480px) {
  main {
    max-width: 21.875rem;
    padding: 0.875rem 1.5rem;

    header {
      margin-top: 4rem;
      flex-direction: column;
      gap: 0.75rem;

      & .input-date {
        align-self: flex-start;
      }
    }

    & .schedule {
      .schedule-list {
        li {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 0.5rem;

          .list-remove {
            grid-column: 3;
          }
        }
      }
    }

    #new-schedule {
      position: static;
      max-width: 14.1875rem;
      margin-inline: auto;
    }
  }
}
